.gateway-button {
    font-family: 'Gotham-Medium', "Helvetica Neue", Helvetica, sans-serif;
    color: white;
    background: none;
    border: 1px solid #000;
    border-color: white;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    line-height: 40px;
    padding-left: 17px;
    padding-right: 15px;
    padding-bottom: 10px;
    text-decoration: none;
    width:8em;
    height:2em;
    display:block;
    margin:45% auto;
    text-align:center;
    cursor: pointer;

}
.gateway-text {
    display: inline;
    padding-top: 50%;
}
.gateway {
    background-image: url("photos/Tunnel_Alone.jpg");
    background-color: #cccccc;
    
    /* Set rules to fill background*/
    background-size: 100%;
    background-repeat: no-repeat;
	
    /* Set up proportionate scaling */
    width: 100%;
    height: 100%;
	
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

/*HEADER*/
.space-consumer, .contact-buttons-all {
    width:25%;
}

.align-name {
    text-align: center;
}

#contact-buttons { 
    float: right;
}

.indiv-buttons {
    position:relative;
    text-decoration:none;
}

#indiv-soundcloud {
    width: 36px;
}

/*Nav Bar at the top of the page*/
.header-links {
    padding: 50px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    font-family: 'Gotham-Medium', "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
    color:black;
    font-size: 16px;
}

.header-links1 {
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-family: times;
    text-decoration: none;
    color:black;
    font-size: 60px;
    font-weight: lighter;
}

ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    text-align: center;
    margin: inherit;
    letter-spacing: 0.5em;
    font-size: 30px;
}

.main-links {
    padding-top: 5px;
    color: white;
    padding-bottom: 15px;
}

/*BODY BACKGROUND COLOR*/
.background-color {
    background: #DFE0E2;
}

/*Home Pictures*/
.home-photos {
    background-image: url("photos/HeadintheCloudsWebsite3.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height:100%;
    /*width:100%;*/
}

.in-thought {
    height: 75%;
    width: 75%;
    padding-top: 2%;
    padding-bottom: 2%;
}

/*Music format*/
iframe {
    padding-bottom: 7%;
}

.soundcloud-music {
    text-align: center;
}

/*Video Page*/
.music-videos {
    text-align:center;
}

/*About page words*/
.about-quote {
    color: #333333;
    font-weight: 300;
    font-size: 30px;
    font-family: 'Gotham-Medium', "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    width: 55%;
    margin: 0 auto;
    padding-top: 4%;
}

.bio {
    color: #333333;
    font-weight: 300;
    font-size: 30px;
    font-family: 'Gotham-Medium', "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    width: 55%;
    margin: 0 auto;
    padding-top: 5%;
    line-height: 140%;
}




